<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 0.0.7
    </div>
    <strong>Copyright &copy; 2022-2023 <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Frare-gallery.com%2F397294-wallpaper-kratos-god-of-war-art-4k-hd.html&psig=AOvVaw1fDt2RwqcyeGYCBKXjqKfp&ust=1703860511786000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPDzpp2tsoMDFQAAAAAdAAAAABAI">Los Malcria2.pe</a>.</strong> All rights reserved team "Los Malcria2".
  </footer>