<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="container mt-5">
        <h2 class="mb-4">Formulario de Trámite</h2>
        <form [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)"> 
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="codigo" class="form-label">Código del usuario</label>
                <input type="text" class="form-control" formControlName="codusuario">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" class="form-control" formControlName="usuario">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="usuario" class="form-label">Nombre del Usuario</label>
                <input type="text" class="form-control" formControlName="nombreusuario">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="nuevacontrasena" class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="nuevacontrasena">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select class="form-select" formControlName="estado">
                    <option value="Activo">Activo</option> 
                    <option value="Inactivo">Inactivo</option> 
                </select>
              </div>
            <div class="mb-3">
                <label for="nivel" class="form-label">Nivel</label>
                <select class="form-select" formControlName="nivel">
                    <option value="Decano">Decano</option> 
                    <option value="Director">Director</option> 
                    <option value="Secretario">Secretario</option> 
                </select>
              </div>
            </div>
          <div class="row">
            
            <div class="col-md-6">
                <div class="mb-3">
                  <label for="rol" class="form-label">rol</label>
                  <select class="form-select" formControlName="rol">
                    <option value="Administrador">Administrador</option> 
                    <option value="Visualizacion">Usuario</option> 
                    <option value="Algomas">Algomas</option> 
                    <option value="AgregarMas">AgregarMas</option> 
                  </select>
                </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="fechacreacion" class="form-label">Fecha de creacion</label>
                <input type="date" class="form-control" formControlName="fechacreacion">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarUsuario()">Eliminar</button>
            <button type="button" class="btn btn-warning" (click)="regresar()">Regresar</button>
          </div>
        </form>
      </div>
</div>
<app-footer></app-footer>