.bg-danger {
    border-radius: 0.6em;
    font-size: 11px;
    padding: 2px;
    font-weight: bold;
  
    // border: 2px solid green; /* Estilo del borde para 'En proceso' */
  }
  
  .bg-primary {
    border-radius: 0.6em;
    font-weight: bold;
  
    font-size: 11px;
    padding: 2px;
    // border: 2px solid red; /* Estilo del borde para 'Detenido' */
  }

