<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <app-breadcrumbs></app-breadcrumbs>
    <div class="container content-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-primary floating-box card1">
                <div class="inner">
                  <h4>Dashboard</h4>
    
                  <p>Visualiza tu informacion</p>
                </div>
                <div class="icon">
                  <!-- <i class="ion ion-document"></i> -->
                  <i class="nav-icon fas fa-tachometer-alt vibrate"></i>

                </div>
                <a routerLink="/dashboard" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-secondary floating-box card2">
                <div class="inner">
                  <h4>Nuevo tramite</h4>
    
                  <p>Registra un nuevo tramite</p>
                </div>
                <div class="icon">
                    <i class="nav-icon fas fa-plus-circle vibrate"></i>
                </div>
                <a routerLink="/nuevo" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success floating-box card3">
                <div class="inner">
                  <h4>Ver Trámites Registrados</h4>
    
                  <p>Visualiza todos tus tramites realizados</p>
                </div>
                <div class="icon">
                    <i class="nav-icon fas fa-file-alt vibrate"></i>
                </div>
                <a routerLink="/tramites" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger floating-box card4">
                <div class="inner">
                  <h4>Progreso del trámite</h4>
    
                  <p>Ver el avance del tramite</p>
                </div>
                <div class="icon">
                    <i class="nav-icon fas fa-check-circle vibrate"></i>
                </div>
                <a routerLink="/progreso_tramite" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning floating-box card5">
                <div class="inner">
                  <h4>Alumnos Registrados</h4>
    
                  <p>Ver todos los alumnos registrados</p>
                </div>
                <div class="icon">
                    <i class="nav-icon fas fa-user-graduate vibrate"></i>
                </div>
                <a routerLink="/estudiantes" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info floating-box card6">
                <div class="inner">
                  <h4>Contactos</h4>
    
                  <p>Informacion adicional de los estudiantes</p>
                </div>
                <div class="icon">
                    <i class="nav-icon fas fa-address-book vibrate"></i>
                </div>
                <a routerLink="/contacts" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-light floating-box card7">
                <div class="inner">
                  <h4>Usuarios del Sistema</h4>
    
                  <p>Ver a todos los usuarios del sistema</p>
                </div>
                <div class="icon">
                  <i class="fas fa-graduation-cap"></i>
                </div>
                <a routerLink="/usuarios" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-dark bg-gradient floating-box card8">
                <div class="inner">
                  <h4>Planes de Estudio</h4>
    
                  <p>Ver los planes de estudio</p>
                </div>
                <div class="icon">
                    <i class="nav-icon fa fa-book-open vibrate"></i>
                </div>
                <a routerLink="/plan_estudio" class="small-box-footer">Más información <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
    </div>
</div>
<app-footer></app-footer>